__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
.git/
.gitignore
*.log
